#loading-background {
    position: fixed;
    top: 0;
    left: 0;

    background-color: black;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

#loading-logo {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    opacity: 1;
    width: 15rem;
    z-index: 11;
}

    #loading-logo.border-radius {
        border-radius: 100%;
    }
    

    #loading-logo.animation-zoomZoomOut {
        animation: zoomZoomOut 2s infinite;
    }
    @keyframes zoomZoomOut {
        0% {
            transform: translate(-50%, -50%) scale(1);
        }
        50% {
            transform: translate(-50%, -50%) scale(1.1); /* Zoom */
        }
        100% {
            transform: translate(-50%, -50%) scale(1); /* Zoom-out */
        }
    }

    #loading-logo.animation-rotateLeftAndRight {
        animation: rotateLeftAndRight 2s infinite;
    }
    @keyframes rotateLeftAndRight {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        50% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
    
    #loading-logo.animation-babal {
        animation: babal 6s infinite;
    }
    @keyframes babal {
        0%, 100% {
            transform: translateX(-50%) translateY(-50%) scaleY(0.8);
          }
          10%, 30%, 50%, 70%, 90% {
            transform: translateX(-50%) translateY(-110%);
          }
          20%, 40%, 60%, 80% {
            transform: translateX(-50%) translateY(-50%) scaleY(0.8);
          }
        }


    #loading-logo.animation-rotate {
        animation: rotate 1s infinite linear;
    }
    @keyframes rotate {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    #loading-logo.animation-transparent {
        animation: transparent 3.5s infinite linear;
    }
    @keyframes transparent {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
        100% {
            opacity: 1;
        }
    }